body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    text-align: center;
    width: 90%; /* Adjust the width as needed */
    max-width: 1200px; /* Set a maximum width to prevent it from getting too wide on very large screens */
}

.header {
    font-size: 24px;
    color: #aaa;
    margin-bottom: 30px;
}

.names {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.name {
    display: flex;
    align-items: center;
}

.name.left {
    justify-content: flex-end;
}

.name.right {
    justify-content: flex-start;
}

.name img {
    width: 50px; /* Smaller size for the flower images */
    height: auto;
}

.name h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 32px; /* Smaller font size */
    color: #556b2f;
    margin: 0 10px;
}

span {
    font-size: 32px; /* Smaller font size */
    color: #556b2f;
    margin: 0 10px;
}

.details {
    margin-top: 20px;
}

.date, .time, .location {
    margin-bottom: 20px;
}

.date h2, .time h2, .location h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 24px; /* Smaller font size */
    color: #556b2f;
}

.calendar {
    margin-top: 10px;
    width: 40%; /* Adjust the width of the calendar */
    font-size: 10px; /* Smaller font size for the calendar */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.calendar .month {
    font-family: 'Great Vibes', cursive;
    font-size: 14px; /* Smaller font size */
    color: #aaa;
    margin-bottom: 5px; /* Adjust margin bottom */
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px; /* Smaller gap */
    font-family: 'Lora', serif;
    font-size: 10px; /* Smaller font size */
    color: #aaa;
}

.calendar .days span {
    text-align: center;
    padding: 2px; /* Smaller padding */
}

.calendar .days .highlight {
    color: #556b2f;
    border: 1px solid #556b2f; /* Thinner border */
    border-radius: 50%;
    padding: 2px; /* Smaller padding */
}

.time h2 {
    font-size: 32px; /* Smaller font size */
}

.location p {
    font-family: 'Lora', serif;
    font-size: 14px; /* Smaller font size */
    color: #aaa;
}
